@font-face {
  font-family: "Krabby Patty", sans-serif;
  src: url("/resources/krabby_patty-demo.html");
}
body{
  background-image: url("images/spongebob-background.svg") ;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: "Krabby Patty", sans-serif;
  font-size: 45px;
  background-color: lightsteelblue;
  padding: 10px;
  text-align: center;
  color: red;
}

.left-column {
  float: left;
  width: 27%;
  margin-right: 3%;
}

.middle-column {
  display: inline-block;
  width: 40%;

}
.right-column{
  float: right;
  width: 27%;
  margin-left: 3%;
}
#KrabbyPatty {
  width: 350px;
  cursor: pointer;
}